.sort {
    margin-top: 40px;
    display: flex;
}

.sort__title {
    margin: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.sort-param {
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.price-sort {
    padding-right: 20px;
}

.volume-sort {
    padding-left: 20px;
    border-left: 2px solid var(--black);
}

.sort__label {
    cursor: pointer;
    padding: 5px 5px;
}

.sort__radio {
    display: none;
}

.sort__radio:checked + .sort__label {
    background-color: var(--sort-radio);
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-items: center;
}