@import "header.scss";
@import "footer.scss";
@import "goods-cart.scss";
@import "main.scss";

:root {
    --white: #ffffff;
    --black: #000000;

    --blue_green: #079c0f;
    --blue_green-hover: #068c0d;
    --blue_green-active: #057c0c;

    --light-green: #67ce00;
    --light-green-hover: #5cb900;
    --light-green-active: #52a400;

    --body-background: #b9d5ff;
    --navigation: #87b6fd;
    --navigation-hover: #71a8fa;
    --navigation-active: #5798fa;

    --footer-top: #dfce3a;
    --footer-bottom: #b6a618;
    --messengers-list: #9c8f17;
    --messengers-list-hover: #8c8014;
    --messengers-list-active: #7c7212;

    --cart-button: #1f39cc;
    --cart-button-hover: #354cd1;
    --cart-button-active: #4b60d6;
    --cart-background: #cee1ff;
    --cart-background-hover: #d2e4ff;
    --cart-background-active: #d7e7ff;
    --cart-price: #71dd80;

    --sort-radio: #e9a771;
}

.body {
    background-color: var(--body-background);
}

.body-container {
    margin-left: 20%;
    margin-right: 20%;
    font-family: Arial, Helvetica, sans-serif
}

